<!DOCTYPE html>
<html>
  <head>
    <title>Conference</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application'g 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
